<div class="row">
  <div class="col">
    <h3>Statistics</h3>
  </div>
</div>

<fieldset style="padding: 10px;border: #e0dddd 1px solid;">
  <form #f="ngForm" (ngSubmit)="onFilterCharts(f)">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="regionSelect">Region</label>
          <input type="text"name="street" [ngModel]="street?.address" class="form-control form-control-sm" #streetInput id="streetInput"
            placeholder="Enter Street Address" aria-describedby="regionHelp">
          <small id="regionHelp"  class="form-text text-muted">Input location to view traffic statistics</small>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="startDate">From</label>
          <input type="date" name="startDate" ngModel class="form-control form-control-sm" id="startDate" placeholder="dd/mm/yyyy">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
            <label for="endDate">To</label>
            <input type="date" ngModel name="endDate" class="form-control form-control-sm" id="endDate">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
  </fieldset>
<br>
<div class="row">
  <div class="col-md-6">
    <canvas id="lineChart0" width="600" height="300"></canvas>
  </div>
  <div class="col-md-6">
    <canvas id="lineChart1" width="600" height="300"></canvas>
  </div>
</div>
